@import "tailwindcss";

@theme inline {
  --font-serif: var(--font-eb-garamond);
  --breakpoint-2xl: 2000px;
}

:root {
  background-color: #0000ff;
  color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0000ff;
  overscroll-behavior: none;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-end infinite;
}

@media (max-width: 1279px) {
  .disable-transform-on-mobile {
    transform: none !important;
  }
}
